@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0f1724;
  color: white;
  font-family: Inter, Poppins, sans-serif;
}
